body{
  font-family: $font-family;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $bg-color;
}



.container{
  margin: 0 auto;

  padding: 0 12px;

  max-width: 1400px;

  &.min{
    max-width: 450px;
  }
}

.title{
  font-family: $font-alt;
}

.unwrap{
  white-space: nowrap;
}

.small{
  font-size: 80%;
}

.text-center{
  text-align: center;
}

p{
  margin-bottom: 1em;
}

.center-v{
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  @include transform(translateY(-50%));
}

.error{
  color:#D00;
  font-size: 80%;
  text-align: center;
  font-weight: bold;
}


.footer{
  text-align: center;
  border-top: 1px dotted #CCC;
  line-height: 1;
  padding: 28px 16px;
}

.muted{
  opacity: 0.5;
}


.canvas-white{
  background-color: #fff;
  width: 100%;
  height: auto;
  box-shadow: 0 3px 12px rgba(0,0,0,.2);
}
.canvas-white-no-restricted{
  background-color: #fff;
  box-shadow: 0 3px 12px rgba(0,0,0,.2);
}

.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 5px 0;
    border-bottom: 1px solid #CCC;
}
.section-header-col{
  display: flex;
}
.section-header-label{
  line-height: $input-min-h;
  vertical-align: middle;
  display: inline-block;
}
.section-header-separator{
  width: 1px;
  background-color: #DDD;
  margin: 0 10px; 
}


.row{
  display: flex;
  width: 100%;
  align-items: center;  

  .col{
    flex: 1 0 auto;

    &.col-50{
      max-width: 50%;
      
      &.first{
        padding-right: 12px;
      }
      &.last{
        padding-left: 12px;
      }
    }
    &.col-33{
      max-width: 33.33333333%;
      
      &.first{
        padding-right: 12px;
      }
      &.middle{
        padding-left: 12px;
        padding-right: 12px;
      }
      &.last{
        padding-left: 12px;
      }
    }
    &.col-70{
      max-width: 70%;
    }
  }

  &.separated{
    justify-content: space-between;
    .col{
      flex: 0 1 auto;
    }
  }
}

.row-inline{
  display: flex;
  width: 100%;
  align-items: center;
  //.col{}
  .separator{
    width: 1px;
    height: 12px;
    background-color: #AAA;
    margin: 0 7px;
  }
}

.tar{
  text-align: right;
}

.italic{
  font-style: italic;
}

h1,h2,h3,h4,h5,h6{
  font-family: $font-alt;
}


